$primaryColor:#18181b;
$secondryColor:#2dc5b2;
$primaryTextColor:#f4f4f5;
$SecondryTextColor:#8d8d96;
$mobileBreakpoints:489px;
$tabletBreakpoints:720px;
$DesktopBreakpoints:1312px;
$headingFontSize:48px;
$spacey:4rem 2rem 0 0;

